<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Gym Template" />
    <meta name="keywords" content="Gym, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/x-icon" href="{% static '/img/logo.png' %}" />

    <title>Circulatory System</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static  '/css/explore1.css' %}" />

    <body>
        <div class="exercise-container">
            <div class="exercise-card">
              <img src="{% static 'img/gallery/pt-1.jpg' %}" alt="Exercise 1">
              <h2>Push-ups</h2>
              <p>Push-ups are a great upper body exercise that targets your chest, shoulders, and triceps.</p>
            </div>
            <div class="exercise-card">
              <img src="{% static 'img/gallery/pt-2.jpg' %}" alt="Exercise 2">
              <h2>Squats</h2>
              <p>Squats are a compound exercise that work your entire lower body, including your quadriceps, hamstrings, glutes, and calves.</p>
            </div>
            <div class="exercise-card">
              <img src="{% static 'img/gallery/pt-3.jpg' %}" alt="Exercise 3">
              <h2>Plank</h2>
              <p>The plank is a core strength exercise that also works your shoulders, chest, and back.</p>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <h2>Push-ups</h2>
                <p>To do a push-up you are going to get on the floor on all fours, positioning your hands slightly wider than your shoulders. Don't lock out the elbows; keep them slightly bent. Extend your legs back so you are balanced on your hands and toes, your feet hip-width apart. Once in this position, here is how you will do a push-up.</p>
                <h4>Benifits of Push-ups</h4>
                <p>Contract your abs and tighten your core by pulling your belly button toward your spine. </p>
                <p>Inhale as you slowly bend your elbows and lower yourself to the floor, until your elbows are at a 90-degree angle.</p>
                <p>Exhale while contracting your chest muscles and pushing back up through your hands, returning to the start position.</p>
            </div>
            <div class="container">  
                <h2>Squats</h2>
                <p>Here we’ll arm you with all the information you need to get your ass to grass, from form tips to stance advice, and how to breathe properly.</p>
                <h4>Benifits of Squats</h4>
                <h6>Bigger, stronger legs:</h6>
                <p>This one’s probably no surprise, but squats build both size and strength in the lower body, recruiting the quads, glutes, and hamstrings to power through the movement. Research has proved that this is true of both bodyweight squats and squats using resistance (i.e. barbell squats)</p>
                <h6>Improve mobility:</h6>
                <p>It may look easy to rep out 10 air squats, but mastering the form of a squat actually requires good ankle and hip mobility. The more you practice, the more mobile you’ll become and you’ll find your core stability improving too.</p>
                <h6>Functional gains:</h6>
                <p>Being strong in the gym is one thing, but what about being fit for everyday life? It might seem less glamorous, but being able to tackle day-to-day movements and tasks is actually way more important than looking good in the gym, especially as we age. Luckily, squats are on hand to help, building strength to support daily movements such as lifting heavy objects, walking up stairs, and sitting down [2].</p>
                <h6>Calorie burner:</h6>
                <p> Trying to shift some weight but tired of slogging away on the treadmill? You’re in luck: Research by Harvard Medical School found that 30 minutes of weightlifting (such as squats) can burn between 90 to 126 calories, whilst vigorous weightlifting can burn up to 252 calories [3]. For best results, choose a barbell squat over body weight, as research proved this weighted variation most effective for fat loss.</p>
                <h6>Variety:</h6>
                <p>As mentioned squats are one of the most versatile exercises in the book. From bodyweight to barbell, dumbbell to machine, there are so many different ways to squat. Switching between variations not only makes your workout more interesting, but comes with physical benefits too, challenging your muscles in different ways to build a balanced physique and leading to further increases in skill</p>
            </div> 
            <div class="container">
                <h2>Plank</h2>
                <p>There are many benefits of planking as planks are an excellent abdominal and core exercise. To ensure you keep your core strong and stable, add the plank to your ab workout program. Keep reading to find out plank exercise benefits, and different types of plank exercises along with instructions.</p>
                <h4>Benifits of Plank</h4>
                <p>Planking provides many physical benefits. Strengthening the core is an important aspect of any workout regimen. A strong and solid core looks and feels good. But more importantly, it helps to stabilize, balance, and power the body during just about every other activity.</p>
            </div>
        </div>

    </body>

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static '/css/flaticon.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static '/css/owl.carousel.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static '/css/barfiller.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static '/css/magnific-popup.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static '/css/slicknav.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css" />
  </head>

  
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.barfiller.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>




